#snake_board {
    margin-top: 70%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
#score {
    text-align: center;
    width: 100%;
    height: 5vh;
    margin: 0;
    font-size: 10vw;
    background-color: lightcoral;
    color: white;
    border: solid 1px black;
}