#snake_board {
    margin-top: 18%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
#score {
    text-align: center;
    width: 100%;
    height: 10vh;
    margin: 0;
    font-size: 90px;
    background-color: lightcoral;
    color: white;
    border: solid 1px black;
}